// Header Styling Below

header {
    max-width: 1024px;
    margin: 0 auto;
    max-height: 5rem;
    display: grid;
    grid-template-columns: 36% auto 8.5% 5% 14.5%;
    background-color: #661FFF;

    .home-page-logo {
        height: 5rem;
        }
    
    .nav-bar {
        margin: 9% 0%;
    }

    nav a {
        text-decoration: none;
        font-family: Rubik;
        color: white;
        font-size: .75rem;
        margin: 0 4%;
    }

    input {
        background-color: #661FFF;
        height: 1.5rem;
        margin: 34% 0%;
        border: 0;
        color: #661FFF;
    }

    .fa-search {
        color: white;
        margin: 67% 0%;
    }
}