/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.login {
  margin: 19% 8%;
  background-color: white;
  border-radius: 8px;
  color: #000000;
  box-shadow: 1px 1px #4A4A4A;
  border: 0;
  font-family: Rubik;
  cursor: pointer;
  padding: 6% 20%;
}
@media (max-width: 500px) {
  .login {
    padding: 6% 23%;
  }
}
.login:hover {
  background-color: #F5A623;
  color: #000000;
}
.read-more {
  height: 2rem;
  margin: 13% 8%;
  background-color: #661FFF;
  border-radius: 6px;
  color: white;
  box-shadow: -1px 2px lightgrey;
  border: 0;
  font-family: Rubik;
  cursor: pointer;
}
.read-more:hover {
  background-color: #F5A623;
  color: #000000;
}
header {
  max-width: 1024px;
  margin: 0 auto;
  max-height: 5rem;
  display: grid;
  grid-template-columns: 36% auto 8.5% 5% 14.5%;
  background-color: #661FFF;
  box-shadow: 1px 2.5px lightgrey;
}
header .menu {
  display: none;
}
header .menu-button {
  display: none;
}
header .home-page-logo {
  height: 4.75rem;
  margin: 0 11%;
}
header .nav-bar {
  margin: 9% 0%;
}
header nav a {
  text-decoration: none;
  font-family: Rubik;
  color: white;
  font-size: 0.75rem;
  margin: 0 4%;
}
header nav a:hover {
  color: #000000;
}
header input {
  background-color: #661FFF;
  height: 1.5rem;
  margin: 34% 0%;
  border: 0;
  color: #661FFF;
}
header .fa-search {
  color: white;
  margin: 67% 0%;
}
@media (max-width: 500px) {
  header {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: center;
  }
  header .home-page-logo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    height: 5rem;
  }
  header .menu-button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: block;
    left: 20px;
    cursor: pointer;
    justify-content: center;
    margin: 0 35%;
  }
  header .menu {
    display: none;
    position: fixed;
    background-color: #661FFF;
    border: 1px solid #F5A623;
    border-left: none;
    border-bottom: none;
    z-index: 2;
    margin: 17% 20%;
  }
  header .menu ul li {
    list-style-type: none;
    font-size: 1.25rem;
    padding: 0.5rem 5rem;
    text-align: center;
    cursor: pointer;
    color: white;
  }
  header .menu ul li:hover {
    color: #F5A623;
  }
  header .menu--open {
    display: block;
  }
  header input {
    display: none;
  }
  header .fa-search {
    display: none;
  }
  header .nav-bar {
    display: none;
  }
}
.card-content {
  display: grid;
  grid-template-columns: 14% 14% 14% 28% 30%;
  grid-template-rows: 541px;
  max-width: 1000px;
  margin: 2% auto;
  font-family: Rubik;
  grid-auto-flow: row dense;
}
.card-content .fa-user-circle {
  color: #661FFF;
}
@media (max-width: 500px) {
  .card-content {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .card-content .footer {
    display: flex;
    flex-wrap: wrap;
    margin: 3% auto;
  }
  .card-content .icons {
    margin: 3% 10%;
  }
  .card-content .fa-user-circle {
    color: #661FFF;
  }
}
.card-content .card-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  border-bottom: 1px solid lightgrey;
  max-width: 100%;
  max-height: 34rem;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
@media (max-width: 500px) {
  .card-content .card-1 {
    display: none;
  }
}
.card-content .card-1 .image-box {
  grid-column-start: 1;
  grid-column-end: 6;
  position: relative;
  overflow: hidden;
  max-height: 16rem;
}
.card-content .card-1 h3 {
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 4% 0;
  font-size: 0.95rem;
}
.card-content .card-1 .author {
  grid-column-start: 4;
  grid-column-end: 6;
  display: flex;
  margin: 6%;
  align-items: center;
  justify-content: flex-end;
}
.card-content .card-1 .fa-user-circle {
  margin: 0 3%;
  font-size: 1.25rem;
}
.card-content .card-1 .full-name {
  font-size: 0.75rem;
  color: grey;
}
.card-content .card-1 .date-box {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  font-size: 0.6rem;
  background-color: lightgrey;
  margin: 0 19% 5%;
  padding: 3%;
  justify-content: center;
}
.card-content .card-1 .fa-clock {
  padding-right: 2%;
}
.card-content .card-1 .data-box {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  font-size: 0.6rem;
  background-color: lightgrey;
  margin: 0 -1% 10%;
  padding: 3%;
  justify-content: center;
}
.card-content .card-1 .fa-comments {
  padding-right: 2%;
}
.card-content .card-1 .location-box {
  grid-column-start: 4;
  grid-column-end: 6;
  display: flex;
  align-items: center;
  font-size: 0.6rem;
  background-color: lightgrey;
  margin: 0 28% 5%;
  padding: 2%;
  justify-content: center;
}
.card-content .card-1 .fa-map-pin {
  padding-right: 6%;
}
.card-content .card-1 .content {
  grid-column-start: 1;
  grid-column-end: 6;
  margin-top: 4%;
  font-size: 0.75rem;
  line-height: 1.7;
  color: grey;
  overflow: hidden;
  max-height: 7.75rem;
}
.card-content .card-1 .read-more {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 20% 10%;
  font-size: 0.85rem;
}
.card-content .card-2 {
  grid-column-start: 1;
  grid-column-end: 1;
  display: grid;
  grid-template-columns: 40% 10% 50%;
  grid-template-rows: 15% 55% 15%;
  max-width: 100%;
  margin-top: 1rem;
}
@media (max-width: 500px) {
  .card-content .card-2 {
    display: none;
  }
}
.card-content .card-2 h3 {
  display: none;
}
.card-content .card-2 .content {
  display: none;
}
.card-content .card-2 .read-more {
  display: none;
}
.card-content .card-2 .author {
  display: flex;
  font-size: 0.5rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 5%;
}
.card-content .card-2 .date-box {
  font-size: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #F5A623;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0.6rem;
}
.card-content .card-2 .fa-camera {
  margin-right: 0.25rem;
}
.card-content .card-2 .fa-user-circle {
  margin-right: 0.25rem;
}
.card-content .card-2 .location {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 0.5rem;
  margin-top: 5%;
}
.card-content .card-2 .image-box {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  overflow: hidden;
  max-height: 8rem;
  margin-right: 1.25rem;
}
.card-content .card-2 .main {
  position: relative;
  z-index: -1;
}
.card-content .card-3 {
  grid-column-start: 2;
  grid-column-end: 2;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 40% 10% 50%;
  grid-template-rows: 15% 55% 15%;
  max-width: 100%;
}
@media (max-width: 500px) {
  .card-content .card-3 {
    display: none;
  }
}
.card-content .card-3 h3 {
  display: none;
}
.card-content .card-3 .content {
  display: none;
}
.card-content .card-3 .read-more {
  display: none;
}
.card-content .card-3 .author {
  display: flex;
  font-size: 0.5rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 5%;
}
.card-content .card-3 .date-box {
  font-size: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #F5A623;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0.6rem;
}
.card-content .card-3 .fa-camera {
  margin-right: 0.25rem;
}
.card-content .card-3 .fa-user-circle {
  margin-right: 0.25rem;
}
.card-content .card-3 .location {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 0.5rem;
  margin-top: 5%;
}
.card-content .card-3 .image-box {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  overflow: hidden;
  max-height: 8rem;
  margin-right: 1.25rem;
}
.card-content .card-3 .main {
  position: relative;
  z-index: -1;
}
.card-content .card-4 {
  grid-column-start: 3;
  grid-column-end: 3;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 40% 10% 50%;
  grid-template-rows: 15% 55% 15%;
  max-width: 100%;
}
@media (max-width: 500px) {
  .card-content .card-4 {
    display: none;
  }
}
.card-content .card-4 h3 {
  display: none;
}
.card-content .card-4 .content {
  display: none;
}
.card-content .card-4 .read-more {
  display: none;
}
.card-content .card-4 .author {
  display: flex;
  font-size: 0.5rem;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 5%;
}
.card-content .card-4 .date-box {
  font-size: 0.5rem;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #F5A623;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0.6rem;
}
.card-content .card-4 .fa-camera {
  margin-right: 0.25rem;
}
.card-content .card-4 .fa-user-circle {
  margin-right: 0.25rem;
}
.card-content .card-4 .location {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  font-size: 0.5rem;
  margin-top: 5%;
}
.card-content .card-4 .image-box {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  overflow: hidden;
  max-height: 8rem;
  margin-right: 1.25rem;
}
.card-content .card-4 .main {
  position: relative;
  z-index: -1;
}
.card-content .container-one {
  grid-column-start: 4;
  grid-column-end: 4;
}
.card-content .container-one .card-5 {
  font-size: 0.75rem;
  margin: 0 1.25rem;
  border-left: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 10% 10% 20% 10%;
  max-width: 100%;
  max-height: 70%;
  padding: 0 5%;
}
@media (max-width: 500px) {
  .card-content .container-one .card-5 {
    display: none;
  }
}
.card-content .container-one .card-5 h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 3% 0;
  font-size: 0.9rem;
  overflow: hidden;
  line-height: 1.75;
}
.card-content .container-one .card-5 .content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  font-size: 0.6rem;
  line-height: 1.75;
  overflow: hidden;
}
.card-content .container-one .card-5 .author {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  align-items: center;
}
.card-content .container-one .card-5 .fa-user-circle {
  margin-right: 0.25rem;
  color: #F5A623;
  font-size: 150%;
}
.card-content .container-one .card-5 .date-box {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #F5A623;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 6%;
}
.card-content .container-one .card-5 .fa-camera {
  margin-right: 0.25rem;
}
.card-content .container-one .card-5 .fa-user-circle {
  margin-right: 0.25rem;
}
.card-content .container-one .card-5 .location {
  display: none;
}
.card-content .container-one .card-5 .image-box {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  overflow: hidden;
}
.card-content .container-one .card-5 .read-more {
  display: none;
}
.card-content .container-one .card-6 {
  font-size: 0.75rem;
  margin: 0 1.25rem;
  border-left: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 10% 10% 20% 10%;
  max-width: 100%;
  max-height: 70%;
  padding: 0 5%;
}
@media (max-width: 500px) {
  .card-content .container-one .card-6 {
    display: none;
  }
}
.card-content .container-one .card-6 h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 3% 0;
  font-size: 0.9rem;
  overflow: hidden;
  line-height: 1.5;
}
.card-content .container-one .card-6 .content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  font-size: 0.6rem;
  line-height: 1.75;
  overflow: hidden;
}
.card-content .container-one .card-6 .author {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  align-items: center;
}
.card-content .container-one .card-6 .fa-user-circle {
  margin-right: 0.25rem;
  color: #F5A623;
}
.card-content .container-one .card-6 .date-box {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #F5A623;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 6%;
}
.card-content .container-one .card-6 .fa-camera {
  margin-right: 0.25rem;
}
.card-content .container-one .card-6 .fa-user-circle {
  margin-right: 0.25rem;
  font-size: 150%;
}
.card-content .container-one .card-6 .location {
  display: none;
}
.card-content .container-one .card-6 .image-box {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  overflow: hidden;
}
.card-content .container-one .card-6 .read-more {
  display: none;
}
.card-content .container-two {
  grid-column-start: 5;
  grid-column-end: 6;
}
.card-content .container-two .registration-form {
  background-color: #F5A623;
  color: #000000;
  font-size: 0.75rem;
  margin: 0 2% 6%;
  box-shadow: 1px 2.5px lightgrey;
}
.card-content .container-two .registration-form h2 {
  margin: 0% 36% 20%;
  font-weight: bold;
  font-size: 1.25rem;
}
.card-content .container-two .registration-form form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 10px;
  font-family: Rubik;
}
.card-content .container-two .registration-form .password-form {
  margin-right: -29%;
}
.card-content .container-two .registration-form input {
  color: lightgrey;
  display: block;
  width: 48%;
}
.card-content .container-two .registration-form input.read-more {
  margin: 7% 27%;
  color: white;
  border-radius: 17px;
}
.card-content .container-two .registration-form input.read-more:hover {
  background-color: white;
  color: #000000;
}
@media (max-width: 500px) {
  .card-content .container-two .registration-form h2 {
    margin: 6% 40% 9%;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .card-content .container-two .registration-form form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 10px;
    font-family: Rubik;
  }
  .card-content .container-two .registration-form input {
    color: lightgrey;
    display: block;
    width: 69%;
  }
  .card-content .container-two .registration-form .password-form {
    margin-right: -17%;
  }
}
.card-content .container-two .card-7 {
  padding-top: 5%;
  border-top: 1px solid lightgrey;
  font-size: 0.75rem;
  margin: 0 1.25rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 10% 10% 20% 10%;
  max-width: 100%;
  max-height: 70%;
}
@media (max-width: 500px) {
  .card-content .container-two .card-7 {
    margin-bottom: -25%;
  }
}
.card-content .container-two .card-7 h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 3% 0;
  font-size: 0.9rem;
  overflow: hidden;
  line-height: 1.5;
}
.card-content .container-two .card-7 .content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  font-size: 0.6rem;
  line-height: 1.75;
  overflow: hidden;
}
.card-content .container-two .card-7 .author {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  align-items: center;
}
.card-content .container-two .card-7 .fa-user-circle {
  margin-right: 0.25rem;
  color: #F5A623;
  font-size: 150%;
}
.card-content .container-two .card-7 .date-box {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #F5A623;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 6%;
}
.card-content .container-two .card-7 .fa-camera {
  margin-right: 0.25rem;
}
.card-content .container-two .card-7 .fa-user-circle {
  margin-right: 0.25rem;
}
.card-content .container-two .card-7 .location {
  display: none;
}
.card-content .container-two .card-7 .image-box {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  overflow: hidden;
}
.card-content .container-two .card-7 .read-more {
  display: none;
}
.card-content .container-two .card-8 {
  display: none;
}
@media (max-width: 500px) {
  .card-content .container-two .card-8 {
    padding-top: 5%;
    border-top: 1px solid lightgrey;
    font-size: 0.75rem;
    margin: 0 1.25rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 10% 10% 20% 10%;
    max-width: 100%;
    max-height: 70%;
    margin-bottom: -25%;
  }
  .card-content .container-two .card-8 h3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 3% 0;
    font-size: 0.9rem;
    overflow: hidden;
    line-height: 1.5;
  }
  .card-content .container-two .card-8 .content {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 0.6rem;
    line-height: 1.75;
    overflow: hidden;
  }
  .card-content .container-two .card-8 .author {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    align-items: center;
  }
  .card-content .container-two .card-8 .fa-user-circle {
    margin-right: 0.25rem;
    color: #F5A623;
    font-size: 150%;
  }
  .card-content .container-two .card-8 .date-box {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #F5A623;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 6%;
  }
  .card-content .container-two .card-8 .fa-camera {
    margin-right: 0.25rem;
  }
  .card-content .container-two .card-8 .fa-user-circle {
    margin-right: 0.25rem;
  }
  .card-content .container-two .card-8 .location {
    display: none;
  }
  .card-content .container-two .card-8 .image-box {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    overflow: hidden;
  }
  .card-content .container-two .card-8 .read-more {
    display: none;
  }
}
.card-content .container-two .card-9 {
  display: none;
}
@media (max-width: 500px) {
  .card-content .container-two .card-9 {
    padding-top: 5%;
    border-top: 1px solid lightgrey;
    font-size: 0.75rem;
    margin: 0 1.25rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 10% 10% 20% 10%;
    max-width: 100%;
    max-height: 70%;
    margin-bottom: -25%;
  }
  .card-content .container-two .card-9 h3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 3% 0;
    font-size: 0.9rem;
    overflow: hidden;
    line-height: 1.5;
  }
  .card-content .container-two .card-9 .content {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 0.6rem;
    line-height: 1.75;
    overflow: hidden;
  }
  .card-content .container-two .card-9 .author {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    align-items: center;
  }
  .card-content .container-two .card-9 .fa-user-circle {
    margin-right: 0.25rem;
    color: #F5A623;
    font-size: 150%;
  }
  .card-content .container-two .card-9 .date-box {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #F5A623;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 6%;
  }
  .card-content .container-two .card-9 .fa-camera {
    margin-right: 0.25rem;
  }
  .card-content .container-two .card-9 .fa-user-circle {
    margin-right: 0.25rem;
  }
  .card-content .container-two .card-9 .location {
    display: none;
  }
  .card-content .container-two .card-9 .image-box {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    overflow: hidden;
  }
  .card-content .container-two .card-9 .read-more {
    display: none;
  }
}
.card-content .container-two .footer {
  color: #000000;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid lightgrey;
  padding-top: 8%;
}
.card-content .container-two .footer .icons {
  color: #661FFF;
  cursor: pointer;
  margin-top: 5%;
  font-size: 2.25rem;
}
