.login {
    margin: 20% 16%;
    background-color: white;
    border-radius: 8px;
    color: @guidr-black;
    box-shadow: 1px 1px #4A4A4A;
    border: 0;
    font-family: Rubik;
}

.read-more {
    height: 2rem;
    margin: 13% 8%;
    background-color: #661FFF;
    border-radius: 8px;
    color: white;
    box-shadow: 1px 1px #4A4A4A;
    border: 0;
    font-family: Rubik;
}